:root {
  --upper-bound-green: #c7ffba;
  --benchmark-blue: #bae1ff;
  --lookup-orange: #ffd18c;
}

.upper-bound-performance {
  background-color: var(--upper-bound-green);
}

.benchmark-performance {
  background-color: var(--benchmark-blue);
}

.uses-lookup {
  background-color: var(--lookup-orange);
}

.centre-table {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centre-table table {
  display: block;
  overflow-x: auto;
  margin-right: 2em;
}

.data-table {
  text-align: center;
}

.data-table th {
  font-weight: bold;
  min-width: 2em;
  vertical-align: middle;
  white-space: nowrap;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: white;
}

.data-table td {
  min-width: 3em;
  border: 2px solid transparent;
}

.data-table td:hover {
  border: 2px solid;
}

th.vertical-title {
  position: sticky;
  left: 0;
}

th.vertical-title div {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-90deg);
  top: 50%;
  left: 50%;
  white-space: nowrap;
}

th.horizontal-title {
  position: sticky;
}

th.row-title {
  position: sticky;
  left: 2em;
}

th.static-spacer-head {
  position: sticky;
  left: 0;
}

.md-toc {
  overflow: visible;
}
